<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>{{chapterName}}</ion-title>
  </ion-navbar>
  <div heading>
    <div *ngIf="data.type=='BUTTON'" text-center>
      {{data.data.title}}
    </div>
    <div *ngIf="data.type=='IMAGE'">
      <img [src]="data.data.image" class="center-block">
    </div>
  </div>
</ion-header>

<ion-content class="content-gray">
  <div class="paper" padding>
    <p>
      {{data.data.description}}
    </p>
  </div>
</ion-content>
