<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subscribed Courses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="gray_backgorund">
  <!-- Available Courses -->
  <ion-list class="list-view">
    <div *ngFor="let catg of subscribedCategories">
      <div heading>
        {{catg.category}}
      </div>
      <ion-item-sliding no-lines *ngFor="let course of catg.courses">
        <button ion-item (click)="openCourseDetailPage(course)">
          <ion-thumbnail item-start>
            <img [src]='course.image'>
          </ion-thumbnail>
          <span class="title">{{ course.course }} </span>
          <!-- <ion-badge text-right class="text_small float_right" [style.background]="color">Not Started</ion-badge> -->
          <div class="progress">
            <progress class="bar" [value]='course.courseProgress' max="100"></progress>
            <span>{{course.courseProgress}}% ({{course.topicViewed}}/{{course.totalTopics}})</span>
            <!-- <ion-badge class="text_small float_right">15 days left</ion-badge> -->
          </div>
        </button>
        <ion-item-options side="right">
          <button ion-button color="color2">
            <ion-icon name="alarm"></ion-icon>
            Remind me
          </button>
          <button ion-button color="color1">
            <ion-icon name="help-circle"></ion-icon>
            Query
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="color3">
            <ion-icon name="refresh-circle"></ion-icon>
            Reset
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <!-- /available courses -->
</ion-content>
