<ion-header>
  <ion-navbar>
    <ion-title>Courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="list-view">
    <ion-list-header>
      {{category?.category}}
    </ion-list-header>

    <ion-item *ngFor="let course of category?.courses">

      <ion-thumbnail item-start>
        <img [src]="course.image" />
      </ion-thumbnail>
      <span class="title">{{ course.course }}</span>
      <ion-badge text-right class="text_small float_right">{{ course.price || 0}}</ion-badge>
      <div class="rating">
        <ion-icon name="star" color="inprogress"></ion-icon>
        <ion-icon name="star" color="inprogress"></ion-icon>
        <ion-icon name="star" color="inprogress"></ion-icon>
        <ion-icon name="star" color="inprogress"></ion-icon>
        <ion-icon name="star-half" color="inprogress"></ion-icon>
        <ion-badge class="text_small float_right">{{ course.timeLeft || 0 }} Days</ion-badge>
      </div>
    </ion-item>
    <!-- <ion-item>
                    <ion-thumbnail item-start>
                        <img src="http://www.localgov.co.uk/Library/images/teaser/fraud1.gif">
                    </ion-thumbnail>
                    <span class="title">Counter Fraud</span>
                    <ion-badge text-right class="text_small float_right">$150.00</ion-badge>
                    <div class="progress">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                        <ion-badge class="text_small float_right" >2 Dayss</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="http://www.healthline.com/hlcmsresource/images/imce/cytology-exam-of-urine_thumb.jpg">
                    </ion-thumbnail>
                    <span class="title"></span>
                    <ion-badge text-right class="text_small float_right">$230.00</ion-badge>
                    <div class="progress">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                        <ion-badge class="text_small float_right">13 Hours</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="http://www.actionforcarers.org.uk/files/1213/6318/0972/Young_woman_with_GP.jpg">
                    </ion-thumbnail>
                    <span class="title">Carer Awareness</span>
                    <ion-badge text-right class="text_small float_right">$120.00</ion-badge>
                    <div class="progress">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                        <ion-badge class="text_small float_right">1 Month</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="http://sekojstudent.org/wp-content/uploads/2016/07/conflict-resolution-strategies.jpg">
                    </ion-thumbnail>
                    <span class="title">Conflict Resolution</span>
                    <ion-badge text-right class="text_small float_right">$120.00</ion-badge>
                    <div class="progress">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                        <ion-badge class="text_small float_right">12 Hours</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="https://i.ytimg.com/vi/4OkZocjuM6U/hqdefault.jpg">
                    </ion-thumbnail>
                    <span class="title">Chaperoning</span>
                    <ion-badge text-right class="text_small float_right">$90.00</ion-badge>
                    <div class="progress">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                        <ion-badge class="text_small float_right">10 Hours</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                        <ion-thumbnail item-start>
                            <img src="http://americasbestcareplus.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-25-at-11.25.35-AM.png">
                        </ion-thumbnail>
                        <span class="title">Anaphylaxis</span>
                        <ion-badge text-right class="text_small float_right">$200.00</ion-badge>
                        <div class="rating">
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star" color="inprogress"></ion-icon>
                            <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right" >3 Days</ion-badge>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="http://www.localgov.co.uk/Library/images/teaser/fraud1.gif">
                        </ion-thumbnail>
                        <span class="title">Counter Fraud</span>
                        <ion-badge text-right class="text_small float_right">$150.00</ion-badge>
                        <div class="progress">
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right" >2 Days</ion-badge>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="http://www.healthline.com/hlcmsresource/images/imce/cytology-exam-of-urine_thumb.jpg">
                        </ion-thumbnail>
                        <span class="title">Cytology</span>
                        <ion-badge text-right class="text_small float_right">$230.00</ion-badge>
                        <div class="progress">
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right">3 Days</ion-badge>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="http://www.actionforcarers.org.uk/files/1213/6318/0972/Young_woman_with_GP.jpg">
                        </ion-thumbnail>
                        <span class="title">Carer Awareness</span>
                        <ion-badge text-right class="text_small float_right">$120.00</ion-badge>
                        <div class="progress">
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right">2 Days</ion-badge>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="http://sekojstudent.org/wp-content/uploads/2016/07/conflict-resolution-strategies.jpg">
                        </ion-thumbnail>
                        <span class="title">Conflict Resolution</span>
                        <ion-badge text-right class="text_small float_right">$120.00</ion-badge>
                        <div class="progress">
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right">5 Days</ion-badge>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="https://i.ytimg.com/vi/4OkZocjuM6U/hqdefault.jpg">
                        </ion-thumbnail>
                        <span class="title">Chaperoning</span>
                        <ion-badge text-right class="text_small float_right">$90.00</ion-badge>
                        <div class="progress">
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star" color="inprogress"></ion-icon>
                                <ion-icon name="star-half" color="inprogress"></ion-icon>
                            <ion-badge class="text_small float_right">1 Days</ion-badge>
                        </div>
                    </ion-item> -->
  </ion-list>
  <div *ngIf="category?.courses.length==0">
    NO COURSES IN THIS CATEGORY
  </div>
</ion-content>
