temp_2{
    div[heading]{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: sticky;
        top:0;
        z-index: 1;
    }

    div[cardButtons]{
    div[selectionArea]{
        // background-image: url('/assets/images/doctors.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;
        background-size: cover;
        div[button]{
            // opacity: 0.96;
            background-size: contain;
            position: relative;
            background:color($colors,color5);
            transition:0.2s ease-in;
            // min-height:100px;
            div[color]{
                height:100px;
            }
            div{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);
                font-size:20px;
                font-weight: bold;
                opacity: 1;
            }
        }
        div[button]:active{
            opacity: 1;
            border:2px solid white;
        }
        div[image]{
            transition:0.2s ease-in;
            img{
                display: block;
                margin:auto;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.2s ease-in;
            }
            img:hover, img:active{
                box-shadow: none;
            }
        }
        div[button]:nth-child(1){
            background:color($colors,color13);
            // background-image: url('/assets/icon/icon1.png');
            background-repeat: no-repeat;
            background-size:cover;
            div{
                color:$secondary;
            }
        }
        div[button]:nth-child(2){
            background:color($colors,color5);
            div{
                color:$secondary;
            }
        }
        div[button]:nth-child(3){
            background:color($colors,color16);
            div{
                color:$secondary;
            }
        }
        div[button]:nth-child(4){
            background:color($colors,color9);
            div{
                color:$secondary;
            }
        }
        div[button]:nth-child(5){
            background:color($colors,color13);
            div{
                color:$secondary;
            }
        }
        div[button]:nth-child(5){
            background:color($colors,color19);
            div{
                color:$secondary;
            }
        }
    }
}
.buttonHeight{
    min-height:100px;
}
}