<ion-header>
    <ion-navbar>
        <ion-title>{{topic.topicName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-gray">

    <div class="paper" *ngIf="data?.background">
        <div heading>Background</div>
        <p padding>{{data.background}}</p>
    </div>

    <div class="paper" *ngIf="data?.issue">
        <div heading>Issue</div>
        <p padding>{{data.issue}}</p>
    </div>

    <div class="paper" *ngIf="data?.incident">
        <div heading>Incident</div>
        <p padding>{{data.incident}}</p>
    </div>

    <div class="paper" *ngIf="data?.decision">
        <div heading>Decision</div>
        <p padding>{{data.decision}}</p>
    </div>

    <div class="paper" *ngIf="data?.conclusion">
        <div heading>Conclusion</div>
        <p padding>{{data.conclusion}}</p>
    </div>

    <div *ngIf="data?.questionnaire && data.questionnaire.length!=0">
        <div *ngFor="let quesSet of data.questionnaire">
            <div heading text-center *ngIf="quesSet.heading">{{quesSet.heading}}</div>
            <div *ngFor="let ques of quesSet.questions; let i =index" padding>
                <h5>{{ques.question}}</h5>

                <div *ngIf="ques.type=='SINGLECHOICE'">
                    <ion-row radio-group [(ngModel)]="selectedAnsObj[ques.questionId]">
                        <ion-col col-6 no-padding *ngFor="let option of ques.options">
                            <ion-item >
                                <ion-label>{{option.option}}</ion-label>
                                <ion-radio [value]="option.optionsId" [disabled]="submitPressed[i]"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <button ion-button full [disabled]="!selectedAnsObj[ques.questionId]" (click)="checkAnswer(ques,i)">Submit</button>
                </div>

                <div *ngIf="ques.type=='MULTIPLECHOICE'">
                    <ion-list>
                        <ion-item *ngFor="let option of ques.options">
                            <ion-label>{{option.option}}</ion-label>
                            <ion-checkbox [(ngModel)]="selectedAnsObj[ques.questionId][option.optionsId]" [disabled]="submitPressed[i]"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <button ion-button full [disabled]="!(selectedAnsObj[ques.questionId].keys().length!=0)" (click)="checkAnswer(ques,i)">Submit</button>
                </div>
                <div *ngIf="submitPressed[i]" [ngClass]="{'inCorrectBox': ques.correctOrIncorrect=='INCORRECT', 'correctBox': ques.correctOrIncorrect=='CORRECT'}">
                    <!-- <img [src]="ques.correctOrIncorrectIcon" style="width:50px" class="center-block"> -->
                    <div ans>{{ques.correctOrIncorrect}}</div>
                    <div>{{this.correctAnswerDescription[ques.questionId]}}</div>
                </div>
            </div>
        </div>


    </div>


</ion-content>

<ion-footer no-padding>
    <ion-toolbar no-padding>
        <ion-row no-padding>
            <ion-col col-4 no-padding>
                <button  ion-button icon-only clear full text-center color="white" (click)="goToPrevTopic()">
                    <ion-icon name="arrow-dropleft-circle"></ion-icon>Prev
                </button>
            </ion-col>
            <ion-col col-4 no-padding>
                <button ion-button icon-only clear full text-center color="white" (click)="goToContentPage()">
                    <ion-icon name="home"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-4 no-padding>
                <button  ion-button icon-only clear full text-center color="white" (click)="goToNextTopic()">
                    Next
                    <ion-icon name="arrow-dropright-circle"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>