temp_1 {
  div[cardITPL] {
    margin: 10px 10px 10px 10px;
    border-top: 1px solid #d3d3d317;
    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: -50px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 95%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    div[title] {
      box-shadow: 0 4px 8px 0 lighten($primary, 25), 0 6px 20px 0 lighten($primary, 20);
      background: $primary;
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
      color: $secondary;
    }
    p {
      padding: 10px;
      color: darkslategray;
      margin:0px;
    }
    div[list] {
      padding: 10px;
      border-bottom: 1px solid gray;
      span[symbol] {
        padding-left: 10px;
        padding-right: 10px;
        color: $primary;
      }
    }
  }
  div[CardImages] {
    div[heading] {
      font-size: 15px;
      font-weight: initial;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 1;
    }
  }
  div[cardList] {
    padding: 10px;
    display: flex;
    div[symbol] {
      text-align: left;
      color: $primary;
    }
    div {
      padding: 0 10px;
    }
  }
}
.margin-top{
    margin-top:60px !important;
}
.no-card{
    margin:auto;
    display: block;
    box-shadow: none;
}