<ion-header>
    <ion-navbar>
        <ion-title>{{chapterName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background:lightgray">

    <ion-list *ngIf="data.heading">
        <ion-list-header>
            {{data.heading}}
        </ion-list-header>
    </ion-list>

    <ion-slides *ngIf="data.images && data.images.length!=0" class="top-slides">
        <ion-slide class="slide1-1" *ngFor='let img of data.images'>
            <img [src]='img.url' />
            <div class="slide1-bottom">
                {{img.title}}
            </div>
        </ion-slide>
    </ion-slides>

    <div *ngIf="data.bullets && data.bullets.length!=0">
        <ion-card>
            <ul>
                <li *ngFor="let bullet of data.bullets">
                    {{ bullet.bullet}}
                </li>
            </ul>
        </ion-card>
    </div>

    <div *ngIf="data.paragraph && data.paragraph.length!=0">
        <ion-card>
            <div padding *ngFor="let para of data.paragraph">
                <h4 *ngIf="para.title">{{para.title}}</h4>
                <p *ngIf="para.description">{{para.description}}</p>

                <div *ngIf="para.bullets && para.bullets.length!=0">
                    <br>
                    <ul>
                        <li *ngFor="let bullet of para.bullets">
                            {{ bullet.bullet}}
                        </li>
                    </ul>
                </div>
                
                <div *ngIf="para.image">
                    <img [src]="para.image" />
                </div>

            </div>

        </ion-card>
    </div>


</ion-content>