<ion-header>
  <ion-navbar>
    <ion-title>{{topic.chapterName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-gray">
  <!-- Heading block -->
  <div heading *ngIf="data?.heading">
    {{data.heading}}
  </div>
  <!-- /heading block -->

  <!-- Images block -->
  <div CardImages *ngIf="data?.images && data.images.length!=0">
    <ion-card *ngFor='let img of data.images' [ngClass]="{'no-card':data.images.length==1}">
      <div heading *ngIf="img.title">
        {{img.title}}
      </div>
      <img [src]='img.url'>
    </ion-card>
  </div>
  <!-- /images block -->

  <!-- List Block -->
  <div *ngIf="data?.bullets && data.bullets.length!=0">
    <div cardList class="paper" *ngFor="let bullet of data?.bullets">
      <div symbol>
        <ion-icon name="ios-analytics"></ion-icon>
      </div>
      <div>
        {{ bullet.bullet }}
      </div>
    </div>
  </div>
  <!-- /list Block -->

  <!-- Block for Image/Paragraph/Title and Description -->
  <div *ngIf="data?.paragraph && data.paragraph.length!=0">
    <div cardITPL class="paper" *ngFor="let para of data.paragraph" [ngClass]="{'margin-top':para.image}">
      <img *ngIf="para.image" [src]="para.image">
      <div title *ngIf="para.title">
        {{para.title}}
      </div>
      <p *ngIf="para.description">
        {{para.description}}
      </p>
      <div *ngIf="para.bullets && para.bullets.length!=0">
        <div list *ngFor="let bullet of para.bullets">
          <span symbol>
            <ion-icon name="checkmark-circle"></ion-icon>
          </span>
          {{ bullet.bullet}}
        </div>
      </div>
    </div>
  </div>
  <!-- /End of block for Image/Paragraph/Title and Description -->
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col col-4 no-padding>
        <button ion-button icon-only clear full text-center color="white" (click)="goToPrevTopic()">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>Prev
        </button>
      </ion-col>
      <ion-col col-4 no-padding>
        <button ion-button icon-only clear full text-center color="white" (click)="goToContentPage()">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4 no-padding>
        <button ion-button icon-only clear full text-center color="white" (click)="goToNextTopic()">
          Next
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
